In [60]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Ajustar opciones de visualización
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Cargar el DataFrame desde un archivo .pkl
df = pd.read_pickle(r'datasets/business.pkl')

df.head(1)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturopathic/Holistic, Acupuncture, Health & Medical, Nutritionists",None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
df.shape

(150346, 28)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150346 entries, 0 to 150345
Data columns (total 28 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150343 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  object
 7   longitude     150346 non-null  object
 8   stars         150346 non-null  object
 9   review_count  150346 non-null  object
 10  is_open       150346 non-null  object
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
 14  business_id   5 non-null       object
 15  name          5 non-null       object
 16  address       5 non-null       object
 17  city          5 non-null       object
 18  state         5 non-null       object
 19  postal_code   5 non-null       object
 20  latitude      5 non-null       object
 21  longitude     5 non-null       object
 22  stars         5 non-null       object
 23  review_count  5 non-null       object
 24  is_open       5 non-null       object
 25  attributes    5 non-null       object
 26  categories    5 non-null       object
 27  hours         5 non-null       object
dtypes: object(28)
memory usage: 33.3+ MB

In [63]:
# Dividimos el DataFrame en dos: uno con las columnas originales y otro con las duplicadas
df_original = df.iloc[:, :14]
df_duplicado = df.iloc[:, 14:]

# Reemplazamos los valores faltantes en df_original con los valores de df_duplicado
for col in df_original.columns:
    df_original[col].fillna(df_duplicado[col], inplace=True)

# Eliminamos las columnas duplicadas
df = df_original

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150343 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  object
 7   longitude     150346 non-null  object
 8   stars         150346 non-null  object
 9   review_count  150346 non-null  object
 10  is_open       150346 non-null  object
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: object(14)
memory usage: 17.2+ MB

In [65]:
df.head(1)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturopathic/Holistic, Acupuncture, Health & Medical, Nutritionists",NaN

### FILTRADO POR ESTADO DE FLORIDA POR LATITUD Y LONGITUD DE FLORIDA, Y LAS COLUMNAS<BR>
### LATITUDE Y LONGITUDE DEL DF

In [66]:
"""# Definimos los límites para Estado de Florida para filtrar el dataset por longitud y latitud
longitud_derecha = -79.881045
longitud_izquierda = -87.661455
latitud_arriba = 30.998029
latitud_abajo = 24.511264


# Filtramos el DataFrame
df_filtrado = df[
    (df['longitude'] >= longitud_izquierda) &
    (df['longitude'] <= longitud_derecha) &
    (df['latitude'] >= latitud_abajo) &
    (df['latitude'] <= latitud_arriba)
]"""

# Ahora, df_filtrado contiene solo las filas dentro de los límites especificados

"# Definimos los límites para Estado de Florida para filtrar el dataset por longitud y latitud\nlongitud_derecha = -79.881045\nlongitud_izquierda = -87.661455\nlatitud_arriba = 30.998029\nlatitud_abajo = 24.511264\n\n\n# Filtramos el DataFrame\ndf_filtrado = df[\n    (df['longitude'] >= longitud_izquierda) &\n    (df['longitude'] <= longitud_derecha) &\n    (df['latitude'] >= latitud_abajo) &\n    (df['latitude'] <= latitud_arriba)\n]"

In [67]:
filtro = df_filtrado['categories'].astype(str).str.contains('restaurant', case=False, na=False)
df_filtrado = df_filtrado[filtro]
#tardo 0.9 segundos

In [68]:
df_filtrado.shape

(8733, 14)

In [69]:
# Condición 1: state es 'FL'
mascara = df['state'] == 'FL'

# Filtramos el DataFrame
df_filtrado = df_filtrado[mascara]

df_filtrado.shape

(1577, 14)

In [70]:
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1577 entries, 14 to 150292
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   1577 non-null   object
 1   name          1577 non-null   object
 2   address       1577 non-null   object
 3   city          1577 non-null   object
 4   state         1577 non-null   object
 5   postal_code   1577 non-null   object
 6   latitude      1577 non-null   object
 7   longitude     1577 non-null   object
 8   stars         1577 non-null   object
 9   review_count  1577 non-null   object
 10  is_open       1577 non-null   object
 11  attributes    1552 non-null   object
 12  categories    1577 non-null   object
 13  hours         1390 non-null   object
dtypes: object(14)
memory usage: 184.8+ KB

In [71]:
# Configura pandas para mostrar la salida completa
pd.set_option('display.max_rows', None)

# Obtiene el recuento de filas por cada valor en la columna 'state'
state_counts = df_filtrado['state'].value_counts()

# Imprime el recuento
print(state_counts)

# Muestra el total de valores únicos de la columna 'state' en filtered_df
print("\nTotal de estados únicos:", len(state_counts))

FL    1577
Name: state, dtype: int64

Total de estados únicos: 1

In [72]:
df_filtrado.to_parquet('FLORIDA_YELP_POR_LONG_Y_LAT.parquet')